<div class="palm-scrim" id="overlay"><div x-mojo-element="Spinner" id="spinner"></div></div>
<div class="main">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title main">
				<span id="main-title">Save/Restore</span>
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle">The Open Source Solution</div>
		</div>
	</div>
	
	<div class="palm-list" id="list">
		<div id="mainList" x-mojo-element="List"></div>
	</div>
    
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
