<div class="app-list">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div id="appListHeader" class="palm-header">
		<span id="listTitle"></span>
	</div>
	
	<!--
	<div id="spinner" x-mojo-element="Spinner"></div>
	<div id="searchText" x-mojo-element="TextField"></div>
	-->
	
	<div class="palm-header-spacer" id="appSpacer"></div>
	
	<!--
	<div x-mojo-element="Spinner" id="statusSpinner">
		<div id="spinnerStatus">...</div>
	</div>
	-->
	
	<div class="palm-list" id="appListContainer">
		<div id="appList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
